name: Playwright CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  smoke-tests:
    name: Run Smoke Tests
    runs-on: ubuntu-latest

    env:
      VALID_USER_EMAIL: ${{ secrets.VALID_USER_EMAIL }}
      VALID_USER_PASSWORD: ${{ secrets.VALID_USER_PASSWORD }}
      LOCKED_USER_EMAIL: ${{ secrets.LOCKED_USER_EMAIL }}
      LOCKED_USER_PASSWORD: ${{ secrets.LOCKED_USER_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Debug files
        run: ls -la

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run smoke tests
        run: npm run test:smoke
        env:
          BASE_URL: https://practicesoftwaretesting.com
          USER_EMAIL: customer@practicesoftwaretesting.com
          USER_PASSWORD: welcome01

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
